{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block mainblock %}
    <style>li{
        font-size: 14px;
    }</style>
   <h1 style="float: none; display: table-cell;white-space: nowrap; color: black; font-size: 35px">Change your password:</h1>

  <form method="post">
  {% csrf_token %}
  {% crispy form %}
  <br><br>
  <button class="btn btn-outline-info" type="submit">Change Password</button>

  {% if form.errors %}
    <p>Was not able to change your password. Please try again.</p>
  {% endif %}

</form>
{% endblock %}