{% extends 'base.html' %}

{% block mainblock %}
    <h1  style="float: none;display: table-cell;flex-wrap: nowrap;"> <strong>Complete Registration- Email Confirmation</strong></h1>
  <p style="font-size: 25px; float:left; margin-left: auto">Thank you for registering to our website!</p>
<p style="font-size: 25px; float:left; margin-left: auto">To complete your registration process and ensure the security of your account, we have sent a confirmation email to the address you provided during registration.</p>
    <p style="font-size: 25px; float:left; margin-left: auto">Please take a moment to check your inbox for an email from us and follow the instructions provided. </p>

<p style="font-size: 25px; float:left; margin-left: auto">If you cannot locate the email in your inbox, we kindly ask you to check your spam or junk folder.</p>

{% endblock %}